* {
    font-family: 'Dhurjati', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.container-burger {
    padding: 24px 24px;
    width: 320px;
    height: 1024px;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 52px 0 #0E185033;
}
.header-burger {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}
.light-bar:before {
    top: 120px;
    left: 0px;
    content: "";
    position: absolute;
    background-color: #41F6D7;
    height: 40px;
    width: 4px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.container-burger>ul li:first-child {
    color: #7E7E82;
}
.container-burger>ul>li {
    margin-bottom: 32px;
    color: #1B1C21;
}
.footer-burger {
    position: absolute;
    bottom: 0;
}
.footer-burger__buttons {
    display: flex;
}
.footer-burger__link {
    margin-right: 16px;
}
.footer-burger>p {
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 18px;
}
.footer-burger>ul {
    display: flex;
}
.footer-burger>ul li:first-child {
    color: #7E7E82;
}
.footer-burger__languages {
    margin-top: 40px;
    margin-right: 7px;
    font-size: 20px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3E79;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}